h1 {
  text-align: center;
  }
p{
  font-weight: bold;
  }
dt {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  }
dd {
  font-weight: bold;
  }
body{
  background-color: rgb(169, 18, 47);
  }
h1:hover {
  background-color: yellow;
  color: blue ;
  }
a {
color: yellow;
}
a:hover{
  background-color: blue;
}
h2 {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  }
  nav-tab, div{
    background-color: yellow;
    padding: 25px;
    text-align: center;
    border-style: solid;
    }
  div:hover{
    background-color: orange;
    }
    
